# Pandas - Data Input and Output
- CSV
- Excel
- HTML
- SQL

In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('example.csv') #CSV read

In [11]:
df.to_csv('My_output', index=False)

In [12]:
pd.read_csv('My_output')

   A  b  c  d
0  0  1  2  3
1  4  5  6  7

In [14]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1') #Excel read

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [15]:
df.to_excel('Excel_Sample2.xlsx',sheet_name='NewSheet')

In [16]:
data = pd.read_html('https://xxxx.html') #Scraping HMTL read

In [19]:
from sqlalchemy import create_engine #SQL

In [20]:
engine = create_engine('sqlite:///:memory:')

In [22]:
df.to_sql('my_table',engine)

In [23]:
sqldf = pd.read_sql('my_table', con=engine)

In [24]:
sqldf

   index  A  b  c  d
0      0  0  1  2  3
1      1  4  5  6  7